{% extends 'layout.html.twig' %}

{% block title %}Liste des produits | Shoefony{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			{{ render(controller('App\\Controller\\StoreController::listBrands', {'brandId': brandId})) }}
		</div>

		<div class="col-md-9">
			<p class="lead">Nos produits " {{ brand is not null ? brand.name : 'Toutes les marques' }} "</p>

			<div class="row text-center">
				{% for product in products %}
					<div class="col-md-4 col-sm-6 hero-feature">
						{{ include ('store/_card_product.html.twig', {'productType': product}) }}
					</div>
				{% else %}
					<h1>Aucun produit</h1>
				{% endfor %}

			</div>

			<div class="row text-center">
				<nav>
					<ul class="pagination pagination-lg">
						<li>
							<a href="#" aria-label="Précédent">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active">
							<a href="#1">1</a>
						</li>
						<li>
							<a href="#2">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#" aria-label="Suivant">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
{% endblock %}