{% extends './base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ app.request.get('_route') }} ✅</h1>
        <h3><u>ID:</u> {{ id }}</h3>
        <h3><u>Slug:</u> {{ slug }}</h3>
        <p><u>Adresse IP:</u> {{ ip }}</p>
    </div>
{% endblock %}